<nav class="gnav drop-shadow col-md-3">
  <div class="container-fluid">
    <h2 class="gnav-hd">Works</h2>
    <hr />
    <a class="btn btn-link btn-block" href="<%= 'index.html' %>">
      <i class="icon ion-home" aria-hidden="true"></i> Home
    </a>
    <hr />
    <ul class="list-unstyled">
      <% if(products){
        var navLoop = function (element,index,array){ %>
        <li>
          <a class="btn btn-link text-uppercase" href="<%= 'page-' + zeroPadding(index,3) + '.html'; %>">
            <span class="lead"><%= element.label %></span><br/>
            <small><%= element.title %></small>
          </a>
        </li>
      <% }; products.forEach(navLoop); } -%>
    </ul>
    <hr />

    <%- include(ejsRoot('../_layout/_footer')); -%>

  </div>
</nav>
