<% include _lib/_function -%>
<% var page = filename.split('/')[filename.split('/').length - 1].replace('.ejs', ''); -%>
<!DOCTYPE html>
<html class="no-js" lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title><%= ((title)? title + ' | ' : '') + site.title; %></title>
    <% var metaLoop = function (key){ %>
      <meta name="<%= key %>" content="<%= meta[key] %>">
    <% };if(meta){ Object.keys(meta).forEach(metaLoop); } -%>
    <link rel="canonical" href="//<%= site.domain %>/">
    <% addDnsPrefetch(); %>
    <link rel="shortcut icon" href="<%= root('favicon.ico'); %>">
    <link rel="apple-touch-icon" href="<%= root('apple-touch-icon.png'); %>">
    <link rel="stylesheet" href="<%= root('styles/main.css'); %>">
    <% styles(); %>
  </head>
  <body>
    <% include _layout/_header -%>
    <% contents(); %>
    <% include _components/_go-top -%>
    <% include _layout/_footer -%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="<%= root('scripts/vendor/lib.min.js'); %>"></script>
    <script src="<%= root('scripts/main.js'); %>"></script>
    <% scripts(); %>
  </body>
</html>
