<%
title        = page.title;
index        = current;
productsList = products;
-%>
<% styles    = function () { %><% }; -%>
<% scripts   = function () { %><% }; -%>
<% contents  = function () { %>

<article class="content">
  <h1 class="page-header text-uppercase"><%= page.label %></h1>
  <p>
    <small><%= page.title %></small>
  </p>
  <div class="row pd-top">
    <div class="col-sm-6">
      <% if(page.publish){ var descriptionLoop = function (element,index,array){ -%>
        <p><%= array[index] %></p>
      <% }; page.description.forEach(descriptionLoop); } -%>

      <% if(page.url){  -%>
        <p class="pd-top">
          <a href="<%= page.url %>" class="btn btn-default btn-block no-barba op-window">
            <span>Web Site </span>
            <i class="icon ion-android-exit" aria-hidden="true"></i>
          </a>
        </p>
      <% } -%>
    </div>
    <div class="col-sm-6">
      <p>
        <% if(page.skill){ var skillLoop = function (element,index,array){ -%>
          <span class="label label-skills"><%= array[index] %></span>
        <% }; page.skill.forEach(skillLoop); } -%>
      </p>
    </div>
  </div>
  <hr/>
  <div class="screenshot">
    <div class="screenshot-loader">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <figure class="overlay">
      <img class="img-responsive center-block drop-shadow" src="<%= page.image %>" alt=""/>
    </figure>
  </div>
  <hr/>
  <% if(page.publish){ var publishLoop = function (element,index,array){ -%>
    <p><small><%= array[index] %></small></p>
  <% }; page.publish.forEach(publishLoop); } -%>
</article>

<% }; -%>
<% include _includes/_base -%>
