<%
var type = (data.type) ? ' (' + data.type + ')' : null;
-%>
<section>
  <div id="<%= 'content-popup' + index %>" class="popup mfp-hide">
    <h2 class="popup-header h4">
      <strong><%= data.title %></strong>
      <% if(type){ -%>
      <small><%= type %></small>
      <% } -%>
    </h2>
    <div class="popup-body">
      <div class="row">

        <div class="col-md-3">
          <% if(data.publish){ var descriptionLoop = function (element,index,array){ -%>
            <p><%= array[index] %></p>
          <% }; data.description.forEach(descriptionLoop); } -%>

          <% if(data.publish){ var publishLoop = function (element,index,array){ -%>
            <p><small><%= array[index] %></small></p>
          <% }; data.publish.forEach(publishLoop); } -%>

          <hr>
          <p>
            <% if(data.skill){ var skillLoop = function (element,index,array){ -%>
              <span class="label label-default"><%= array[index] %></span>
            <% }; data.skill.forEach(skillLoop); } -%>
          </p>
          <hr>
          <p>
            <% if(data.url){  -%>
              <a href="<%= data.url %>" class="btn btn-primary" target="_blank">
                <span>Launch Site </span>
                <i class="icon ion-android-exit" aria-hidden="true"></i>
              </a>
            <% } -%>
          </p>
        </div>

        <div class="col-md-9">
          <% if(data.image){  -%>
            <figure>
              <img class="img-responsive center-block drop-shadow" src="<%= data.image %>" alt="<%= data.title %>">
            </figure>
          <% } -%>
        </div>

      </div>
    </div>
  </div>
</section>
