<div id="<%= 'content-popup' + index %>" class="popup mfp-hide">
  <h2 class="popup-header h4"><%= data.title %></h2>
  <div class="popup-body">
    <div class="row">
      <div class="col-sm-6 col-sm-push-6">
        <figure>
          <img class="img-responsive center-block" src="<%= data.image %>" alt="<%= data.title %>">
        </figure>
      </div>
      <div class="col-sm-6 col-sm-pull-6">
        <p>
          <% if(data.skill){ var skillLoop = function (element,index,array){ -%>
            <span class="label label-primary"><%= array[index] %></span>
          <% }; data.skill.forEach(skillLoop); } -%>
        </p>
        <hr>
        <% if(data.description){ var descriptionLoop = function (element,index,array){ -%>
          <p><%= array[index] %></p>
        <% }; data.description.forEach(descriptionLoop); } -%>
      </div>
    </div>
  </div>
</div>
