<% if(products){ -%>
  <div class="row">

    <% var contentLoop = function (element,index,array){ var data = array[index]; -%>

      <div class="col-xs-6 col-sm-4 col-md-3 mix">
        <div class="panel-card">
          <figure>
            <a href="<%= '#content-popup' + index %>" data-mfp="inline">
              <img class="img-responsive center-block" src="<%= data.thumbnail %>" alt="">
            </a>
          </figure>
          <p><%= data.title %></p>
          <a href="<%= data.url %>" class="btn btn-primary btn-sm">URL
            <i class="fa fa-external-link-square" aria-hidden="true"></i>
          </a>
        </div>
        <%- include(ejsRoot('_popup-contents'), { data : data, index : index }); -%>
      </div>

    <% }; products.forEach(contentLoop); -%>

  </div>
<% } -%>
