<% if(content){ -%>
<div class="row">

  <% var contentLoop = function (element,index,array){ var data = array[index]; -%>
  <div class="col-sm-4 mix">
    <div class="panel-card">
      <a href="<%= '#content-popup' + index %>" data-mfp="inline">
        <figure>
          <img class="img-responsive center-block" src="<%= data.thumbnail %>" alt="">
        </figure>
      </a>
      <p><%= data.title %></p>
        <a href="<%= data.url %>" class="btn btn-primary btn-sm">URL <i class="fa fa-external-link-square" aria-hidden="true"></i></a>
    </div>
    <%- include(ejsRoot('_popup-contents'), {data:data,index:index}); -%>
  </div>
  <% }; content.forEach(contentLoop); -%>

</div>
<% } -%>
